.containerdrag {
    height: 100%;
    display: flex;
    align-items: stretch;
}

.wip, .droppable, .spacer {
    flex-grow: 1;
    flex-wrap: nowrap;
    display: inline-flex;
    flex-direction: column;
}

.wip {
    background: #33FFD7;
}

.droppable {
    background: #FF33D1;
}

.spacer {
    background: #FF6133;
}

.wip div, .droppable div, .droppable.spacer {
    flex-grow: 1;
    max-height: 60px;
}
